<h1>在庫（ホーム）</h1>

<% @people.each do |person| %>
  <h2><%= person.name %></h2>

  <p>
    <%= link_to "＋新規薬入庫", new_person_manual_import_path(person) %>
  </p>

  <% items = person.medication_items.where(active: true) %>

  <% if items.empty? %>
    <p>表示中の薬はありません</p>
  <% else %>
    <ul>
      <% items.each do |item| %>
        <% remaining = item.remaining_quantity %>
        <% last_taken_at = item.last_taken_at %>
        <% nearest_expires_on = item.nearest_expires_on %>

        <li>
          <strong><%= item.drug_product.display_name %></strong>
          ：残量 <%= remaining %>

          <%= link_to "入庫", new_medication_item_medication_lot_path(item) %>

          <%= button_to "+1消費",
                consume_one_medication_item_path(item),
                method: :post,
                disabled: (remaining == 0) %>

          <% if last_taken_at.present? %>
            <div>最終服用：<%= last_taken_at.strftime("%Y-%m-%d %H:%M") %></div>
          <% else %>
            <div>最終服用：なし</div>
          <% end %>

          <% if nearest_expires_on.nil? %>
            <div>期限：なし</div>

          <% elsif item.expired? %>
            <div style="color: red;">
              期限切れ（捨ててOK）
            </div>

            <ul>
              <% item.expired_lots.each do |lot| %>
                <li>
                  処方日：<%= lot.base_date %> /
                  期限：<%= lot.expires_on %> /
                  残：<%= lot.quantity_remaining %>

                  <%= button_to "捨てる",
                        discard_medication_item_medication_lot_path(item, lot),
                        method: :patch,
                        data: { turbo_confirm: "この期限切れロットを捨てますか？" } %>
                </li>
              <% end %>
            </ul>

          <% elsif item.expiring_soon? %>
            <div style="color: orange;">
              期限近い：<%= nearest_expires_on %>
            </div>

          <% else %>
            <div>期限：<%= nearest_expires_on %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

 <p>
    <%= link_to "QRコードリーダー", scan_imports_path %>
  </p>

<% end %>